@charset "windows-1251";

body{
    background-color: #4b5591 !important;
}

.container {
    background-color:  #fd7e14;;
}

.container1 {
    width: 30%;
}

.form1{
    display:none;
}

.in_form1{
    padding: 5px;
    background-color: white;
    width: 50%;
    margin:auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.in_form1 label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}